/* ==========================================================================
   Material 3 Dark Theme skin
   ========================================================================== */

/* Colors */
$background-color: #121212 !default;
$text-color: #E0E0E0 !default;
$primary-color: #FF8A80 !default;
$border-color: #757575 !default;
$code-background-color: #424242 !default;
$code-background-color-dark: #303030 !default;
$form-background-color: #424242 !default;
$footer-background-color: #121212 !default;

$link-color: #FF8A80 !default;
$link-color-hover: #FFDAD4 !default;
$link-color-visited: #9FA8DA !default;
$masthead-link-color: #E0E0E0 !default;
$masthead-link-color-hover: #FF8A80 !default;
$navicon-link-color-hover: #FF8A80 !default;

$muted-text-color: #BDBDBD !default;
$blockquote-border-color: #9FA8DA !default;

/* Buttons */
$btn-primary-color: #FFDAD4 !default;
$btn-primary-background-color: #600000 !default;
$btn-primary-hover-background-color: #410000 !default;

/* Notices */
$info-color: #9FA8DA !default;
$success-color: #81C784 !default;
$warning-color: #FFB74D !default;
$danger-color: #CF6679 !default;